@model IEnumerable<UserApartmentViewModel>

@section Styles{
    <link rel="stylesheet" href="~/css/form.css">
}

<div style="padding-top:170px; padding-bottom:170px; margin-left:20%; margin-right:20%;">
    <div style="margin-right: 10%; margin-left: 10%;">
        <div id="view-all">
            <div class="col" style="width:auto; height:400px; overflow:auto; padding: 15px;">
                <table class="table-custom">
                    <tr>
                        <th scope="col">Apartment №</th>
                        <th scope="col">Address</th>
                        <th scope="col">Area</th>
                        <th scope="col">Taxes Paid?</th>
                        <th scope="col"><button class="btn btn-outline-success" onclick="showInPopup('@Url.Action("Create", "Apartment")', 'Create')">Add New</button></th>

                    </tr>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <th scope="col">No Apartments were found!</th>
                        </tr>
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td scope="col">@item.ApartmentNumber</td>
                            <td scope="col">@item.Address</td>
                            <td scope="col">@item.Area</td>
                            <td scope="col">@(item.AreTaxesPaid == true ? "Yes" : "No")</td>
                            @*<td scope="col"><button class="btn btn-outline-primary btn-sm" onclick="showInPopup('@Url.Action("Update", "Country", new { id = item.Id, name = item.Name})', 'Update')">Edit</button></td>
                            <td scope="col"><button class="btn btn-outline-danger btn-sm" onclick="window.location='@Url.Action("Delete", "Apartment", new { id = item.Id})'">Delete</button></td>
*@                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

</div>